<h3>Add new Property</h3>
<!-- <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
    <div class="form-group">
        <label for="name">
            Name:
            <input formControlName="name" id="name" class="form-control" placeholder="Your name">
        </label>
        <small class="form-text text-danger" *ngIf=" (myForm.get('name')?.dirty || myForm.get('name')?.touched)">
            Please provide a name.
        </small>
    </div>
    <div class="form-group">
        <label for="description">
            Description:
            <input formControlName="description" class="form-control" id="description" placeholder="Description">
        </label>
        <small class="form-text text-danger"
            *ngIf="(myForm.get('description')?.dirty || myForm.get('description')?.touched)">
            Please provide a description.
        </small>
    </div>
    <div class="form-group">
        <label for="size">
            Size:
            <input formControlName="size" class="form-control" id="size" placeholder="Size">
        </label>
        <small class="form-text text-danger" *ngIf="(myForm.get('size')?.dirty || myForm.get('size')?.touched)">
            Please provide size
        </small>
    </div>
    <button type="submit" [disabled]="myForm.invalid">Send</button>
</form> -->
<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter name">
        <small class="form-text text-danger"
            *ngIf="(myForm.get('name')?.hasError('required') && myForm.get('name')?.touched)">
            Please provide a name.
        </small>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" formControlName="description" id="description"
            placeholder="Enter description">
        <small class="form-text text-danger"
            *ngIf="(myForm.get('description')?.hasError('required') && myForm.get('description')?.touched)">
            Please provide a description.
        </small>
    </div>
    <div class="form-group pb-2">
        <label for="size">Size</label>
        <input type="text" class="form-control" formControlName="size" id="size" placeholder="Enter size">
        <small class="form-text text-danger"
            *ngIf="(myForm.get('size')?.hasError('required') && myForm.get('size')?.touched)">
            Please provide a size.
        </small>
    </div>
    <button type="submit" class="btn btn-dark" [disabled]="myForm.invalid">Send</button>
</form>